* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #106b87;
    font-family: 'Kenia', sans-serif;
    background: url('https://farm9.staticflickr.com/8760/17195790401_ceeeafcddb_o.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Define a altura da viewport para centralizar verticalmente */
}

.logo {
    font-family: 'Kenia', sans-serif;
    margin-top: 320px;
    font-size: 35px;
    margin-bottom: 40px;
    transition: transform 0.3s, color 0.3s; /* Adiciona transições suaves para mudança de tamanho e cor */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% no efeito de hover */
    color: #6a6fa1; /* Altera a cor no efeito de hover */
}

.navbar {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin: 5px 0;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ebeb0e;
}

svg {
    font-weight: bold;
    max-width: 600px;
    height: auto;
}